aside {
  padding-top: 1.5rem;
  padding-left: 2rem;
  height: calc(100vh - 70px);
  background: #fff;
}
aside .aside__header .header__icon {
  position: relative;
  width: 50px;
  height: 50px;
  padding-top: 11px;
  border-radius: 7px;
  text-align: center;
  background: #4da1ff;
  box-shadow: 1px 2px 17px rgba(0, 0, 0, 0.07);
  cursor: pointer;
}
aside .aside__header .header__icon:hover {
  box-shadow: 0px 0px 5px rgba(1, 172, 253, 0.74);
}
aside .aside__header .header__icon svg {
  height: 25px;
}
aside .aside__header .header__icon .notification_count {
  position: absolute;
  right: -10px;
  top: -10px;
  display: flex;
  justify-content: center;
  width: 23px;
  height: 23px;
  padding-top: 3px;
  border-radius: 50%;
  background: linear-gradient(180deg, #FF7878, #FF4F4F);
  color: #fff;
  font-size: 12px;
}
aside .aside__header .header__title {
  margin-left: 30px;
}
aside .aside__header .header__title h2 {
  margin: 0;
  margin-top: 10px;
  font-size: 16px;
}
aside .aside__header .header__title p {
  margin: 0;
  margin-top: 2px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
}
aside .aside__content {
  margin-top: 50px;
  padding-right: 30px;
}
aside .aside__content .events .event {
  margin-bottom: 40px;
}
aside .aside__content .events .event .event__duration {
  height: 4px;
  margin-bottom: 10px;
  background: rgba(77, 161, 255, 0.4);
  box-shadow: 1px 2px17px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}
aside .aside__content .events .event .event__duration.w-50 {
  background: rgba(77, 161, 255, 0.7);
}
aside .aside__content .events .event .event__duration.w-75 {
  background: rgba(255, 200, 0, 0.5);
}
aside .aside__content .events .event .event__duration.w-100 {
  background: rgba(230, 0, 0, 0.5);
}
aside .aside__content .events .event .event__name {
  font-weight: bold;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
aside .aside__content .events .event .event__name.invite {
  margin-top: 5px;
  margin-bottom: 7px;
}
aside .aside__content .events .event .event__name.invite:before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 10px;
  border: solid 1px #ff6d4a;
  border-radius: 50%;
  background: #ff6d4a;
}
aside .aside__content .events .event .event__actions {
  margin-top: 10px;
}
aside .aside__content .events .event .event__actions .action__accept {
  display: flex;
  margin-right: 30px;
  padding-left: 0;
  border: none;
  background: transparent;
  color: rgba(0, 0, 0, 0.4);
  font-size: 12px;
}
aside .aside__content .events .event .event__actions .action__accept:hover {
  opacity: 1;
  color: rgba(0, 0, 0, 0.5);
}
aside .aside__content .events .event .event__actions .action__accept:hover .action__accept__icon {
  border-color: rgba(0, 0, 0, 0.3);
}
aside .aside__content .events .event .event__actions .action__accept:hover .action__accept__icon svg {
  filter: brightness(0.01);
}
aside .aside__content .events .event .event__actions .action__accept .action__accept__icon {
  width: 20px;
  height: 20px;
  margin-right: 7px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}
aside .aside__content .events .event .event__actions .action__accept .action__accept__icon svg {
  width: 10px;
  height: 10px;
}
aside .aside__content .events .event .event__actions .action__accept .action__accept__text {
  margin-top: 2px;
}
aside .aside__content .events .event .event__actions .action__view {
  display: flex;
  height: 20px;
  margin-top: 2px;
}
aside .aside__content .events .event .event__actions .action__view a {
  color: rgba(77, 161, 255, 0.9);
  font-size: 12px;
}

/*# sourceMappingURL=aside.css.map */
